
.datatable, .datatable__row, .datatable__cell {
  border: solid 1px #000000;
  margin: auto;


}
.datatable {
  border-collapse: collapse;
  width:50%;
  
}
.datatable > thead {
  background-color: rgb(194, 194, 194);
}

.datatable__row, .datatable__cell {
  padding: 5px;
}

#pagination> li {
  display: inline-block; 
  border: 1px solid #000; 
  border-radius: 50px;
  padding: 10px; 
  margin-top:10px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: rgb(172, 168, 110);;
 }
 #pagination> li:hover  {
  cursor: pointer;
  color: red;
  background-color: brown;
  border: 1px solid red;

 }
 .data-table-container> select {
  margin-top: 10px;
  margin-left: 20px;
 }
 #pagination{
  margin-left: 40%;
 }


 
 .data-table-container{
  position: relative;
  border: 1px solid rgb(235, 222, 51);
  width:100%;
 }
 #pagination{
  padding:20px;
 }
 input.search{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 1s ease-in-out;
  margin-left: 10px;
}

input.search:focus {
  width: 95%;
}
.data-table-container{
  margin:0 auto;
}
.remove{
  font-size: 15px;
  margin: 0 auto;
}
.remove:hover{
  cursor: pointer;
  color: red;


}
form> input{
  margin-left: 5px;
  width: 100px;

}
#input-for-delete{

margin:   1% 68%;
  padding: 8px;
}

tr.datatable__row:hover{
background-color: rgb(221, 221, 221);
  
}
.active {
  background-color: #666;
  color: white;
}